body {
    background-color: rgb(29, 26, 26);
}

* {
    box-sizing: border-box;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 62.5%;
}

h1 {
    font-size: 5rem;
    color: white;
    margin-bottom: 5rem;
}

p {
    color: white;
    font-size: 4.1rem;
    margin-bottom: 3.5rem;
    
}

button {
    font-size: 2.4rem;
    padding: 2rem 0;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: royalblue;
    border-radius: 40px;
    width: 20rem;
    align-self: center;
}

.start {
    text-align: center;
}

.hide {
    display: none;
  }

.timer {
    color: white;
    font-size: 3rem;
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80rem;
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.choices button {
    font-size: 2.4rem;
    padding: 2rem 0;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: royalblue;
    border-radius: 40px;
    width: 20rem;
    align-self: center;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: royalblue;
    border-radius: 40px;
    width: 20rem;
    align-self: center;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.1);
}

#time {
    font-size: 3rem;
}

#highscore-btn{
    background: rgb(245, 245, 81);
}

#highscore-btn:hover {
    box-shadow: 0 0.5rem 1.4rem 0 rgba(255, 255, 81, 0.6);

}