/* styles used in entire page */
* {
    box-sizing: border-box;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 62.5%;
}

/* Styles for HTML tags */
body {
    background-color: rgb(29, 26, 26);
  }
  
a {
    color: rgb(28, 26, 26);
    text-decoration: none;
    transition: color 0.1s;
}
  
h1 {
    font-size: 5rem;
    color: white;
    margin-bottom: 5rem;
}

h2 {
    font-size: 3rem;
    color: white;
    margin-bottom: 5rem;
}

p {
    color: white;
    font-size: 4.1rem;
    margin-bottom: 3.5rem;
    
}
  
button {
    font-size: 2.4rem;
    padding: 2rem 0;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: royalblue;
    border-radius: 40px;
    width: 40rem;
    align-self: center;
}
  
button:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.1);
}
  

  
input[type="text"] {
    font-size: 100%;
}
  
ol {
    font-size: 3rem;
    display: flex;
    flex-direction: column;

}
  
li {
    color: white;
    display: flex;
    padding: 5px;
    list-style: decimal inside none;
}
 
/* Styles for classes */
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80rem;
    text-align: center;
}

.choices button {
    display: block
}

.timer {
    color: white;
    font-size: 3rem;
}
  
.hide {
    display: none;
}
  
.start {
    text-align: center;
}

  
.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: royalblue;
    border-radius: 40px;
    width: 20rem;
    align-self: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}
  
.feedback {
    font-style: italic;
    font-size: 2.4rem;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid #ccc;
  }

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.1);
}

#time {
    font-size: 3rem;
}

/* Styles for id's */
#highscore-btn{
    background: rgb(245, 245, 81);
    align-self: center;
}

#highscore-btn:hover {
    box-shadow: 0 0.5rem 1.4rem 0 rgba(255, 255, 81, 0.6);

}